
@{
    ViewData["Title"] = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
}
<div class="container-fluid kimi-container less-padding">
    <div class="homepage-slider owl-carousel owl-theme">
    </div>
</div>
<h2 style="text-align:center">BẠN ĐÃ THANH TOÁN THÀNH CÔNG !</h2>
<h4 style ="text-align:center">Chúng tôi đang xử lí đơn hàng của bạn. Chúng tôi sẽ gửi món đến địa chỉ mà bạn đã điền một cách sớm nhất</h4>
<a style="display: block;margin: 20px auto;text-align: center;padding: 10px 20px;" href="/Home/Index" class="btn btn-default  button-black hidden-xs">Continue to Shopping</a>
