
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
}
<div class="container-fluid kimi-container less-padding">
    <img src="../LayoutKimi/images/birds-eye-1500w.jpg" width="100%" class="hidden-xs">
    <img src="https://res.cloudinary.com/kimithemes/image/upload/c_thumb,h_250,q_auto:best,w_480/v1506321165/birds-eye-1500w_r4qf8b.jpg" width="100%" class="visible-xs">
</div>
<div class="container">

    <div class="">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li class="active">About Kimi</li>
        </ol>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px;">
                <h5 class="about-first-text text-center text-center" style="">Kimi là chương trình công nghệ kết nối ẩm thực và nhà sản xuất bia tại nhà của bạn với cộng đồng và giúp phát triển nó.</h5>

                <div class="maya-well-padding"></div>
                <h5 class="about-first-text text-center">Why Kimi</h5>

                <p class="helvetica-18 text-gray-3 text-center text-thin">
                    Bạn là người sáng tạo và đổi mới thực đơn của bạn, chúng tôi xử lý giao dịch và giao hàng.
                </p>
                <p class="helvetica-18 text-gray-3 text-center text-thin">
                    Kimi sẽ giúp bạn giao dịch dễ dàng, giúp quảng bá về bạn và sản phẩm của bạn, đồng thời quản lý việc giao hàng. Chúng ta sẽ tiếp tục thử nghiệm và cùng nhau học hỏi để tăng doanh số bán hàng, duy trì hoạt động trơn tru và gây ấn tượng với khách hàng của bạn.
                </p>
                <div class="maya-well-padding"></div>

                <h5 class="about-first-text text-center">Kimi hoạt động như nào ?</h5>
                <h4 class="text-bold text-center">Đăng Kí Ngay</h4>
                <p class="helvetica-18 text-gray-3 text-thin text-center">
                    Đăng ký ngay bây giờ tại <a class="text-secondary" href="signup.html"> backtokimi.com</a>, Liên hệ mở Kênh (cửa hàng). Xem Liên hệ với chúng tôi). Sau đó, tải lên biểu trưng thú vị của bạn, hình ảnh về sản phẩm và giá của bạn, tối thiểu. đặt hàng, sản xuất trên bàn và kết nối với Kênh của bạn.
                    Kênh (cửa hàng) của bạn có thể được quản lý bởi nhiều người dùng (với các email khác nhau) nếu bạn chỉ định ai đó giúp bạn quản lý Kênh, chúng tôi gọi đó là Kênh nhiều người dùng 1.
                    Và ngược lại, nếu bạn có nhiều kênh mà bạn có thể tự quản lý (1 người dùng), chúng tôi gọi chúng là Kênh đa kênh 1 người dùng.
                    (Hãy liên hệ với chúng tôi, nếu bạn quan tâm đến việc tạo Kênh 1 người dùng nhiều người dùng hoặc Kênh nhiều người dùng 1 người dùng.)
                </p>
                <div class="maya-small-padding"></div>

                <h4 class="text-bold text-center">Lịch trình của bạn nằm trong tay bạn</h4>

                <p class="helvetica-18 text-gray-3 text-thin text-center">
                    Chương trình kimi được thực hiện cho đến khi về nhà Chef like you. Người mua (Đồng ý) đặt hàng/yêu cầu sản phẩm chậm nhất 1 ngày trước khi đặt hàng và giao hàng (Đặt hàng trước).
                    Bạn cũng có thể tự sắp xếp theo năng lực của mình để thuận tiện hơn cho việc chuẩn bị nguyên liệu, thiết bị, thậm chí cả nhân công.
                </p>
                <div class="maya-small-padding"></div>

                <h4 class="text-bold text-center">
                    Tập trung vào điểm mạnh của bạn
                </h4>
                <p class="helvetica-18 text-gray-3 text-thin text-center">
                    Bởi vì chúng tôi tin rằng, thời gian là quý giá. Chúng tôi làm cho nó dễ dàng cho bạn về giao hàng.
                    Kimi sẽ sắp xếp mọi hoạt động giao hàng cho tất cả các đơn đặt hàng của bạn thông qua backtokimi.com. Bạn có thể sử dụng thời gian để trau dồi thế mạnh của mình bằng cách tạo ra những sản phẩm mới, hình dạng mới và hương vị mới có thể là điểm thu hút chính cho công việc kinh doanh ẩm thực của bạn.
                </p>
                <div class="maya-well-padding"></div>

                <div>
                    <h5 class="about-first-text text-center">
                        Những gì chúng tôi xử lý
                    </h5>
                    <h4 class="text-bold text-center">Giao dịch</h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">
                        Những món nhập qua backtokimi.com luôn được ghi lại trong Order Dashboard để các Đầu Bếp nắm rõ diễn biến và có thể kiểm tra lại tránh sai sót..
                    </p>
                    <div class="maya-small-padding"></div>
                </div>


                <div>
                    <h4 class="text-bold text-center">
                        Vận chuyển
                    </h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">
                        chúng tôi đã hợp tác với các dịch vụ giao hàng. Đầu bếp chỉ cần làm việc theo yêu cầu đã đặt và ghi họ tên, địa chỉ đầy đủ, số lượng. điện thoại di động của Người mua (người mua) được ghi trong Bảng điều khiển đơn hàng theo đơn đặt hàng, để Máy chủ (giao hàng) có thể giao đơn hàng của bạn một cách rõ ràng và chúng tôi lên lịch giao hàng cho tất cả các đơn hàng của bạn nhập qua backtokimi.com.
                        Nếu có một đơn đặt hàng đến và bạn chấp nhận (nhấn phê duyệt) đơn đặt hàng, hệ thống của chúng tôi sẽ ngay lập tức lên lịch dịch vụ giao hàng cho mọi đơn hàng bạn nhận được.
                    </p>
                    <div class="maya-small-padding"></div>
                </div>

                <div>
                    <h4 class="text-bold text-center">Thống kê sản phẩm</h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">
                        Bạn có thể xem các số liệu thống kê này trên từng sản phẩm của mình.
                        Điều này giúp bạn phân tích những sản phẩm nào được công chúng yêu cầu nhiều nhất và những sản phẩm nào bạn cần khuyến khích để tăng doanh số bán hàng.
                    </p>
                    <div class="maya-small-padding"></div>
                </div>



            </div>
        </div>
    </div>

</div>
