@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
    //dường dẫn
}
<div class="container-fluid kimi-container less-padding">
    <div class="homepage-slider owl-carousel owl-theme">
    </div>
</div>
<article>
    <div class="article-header">
        <div class="row">
            <h1 class="heading-large text-center" itemprop="name">Risotto Lemon Seafood Combining the Impossible</h1>
        </div>

        <div class="maya-tiny-padding"></div>
        <div class="row info">
            <p class="text-center">Article by <strong>Kimi Editorial</strong> <span itemprop="publishedAt" datetime="2017-09-12T13:18:13+00:00">September 12</span></p>
        </div>
        <div class="row text-center">
            <div class="list-share-circles">
                <ul>
                    <li>
                        <button class="bt-circle">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li>
                        <button class="bt-circle">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li>
                        <button class="bt-circle">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li>
                        <button class="bt-circle">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="article-body">
        <div class="row">
            <div style="position: relative;">
                <img src="../LayoutKimi/images/risotto.jpg" width="100%">

                <button class="text-gray-2 hidden-xs" id="imageMetainfo">
                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px; color:#333;"></i>
                </button>


                <div class="metainfo-wrapper hidden-xs" style="display: none;" id="metainfoWrapper">
                    <h5>Make</h5>
                    <p>Canon</p>

                    <h5>Location</h5>
                    <p>Kimi Studio</p>

                    <h5>Photographer</h5>
                    <p>Julien Pianetti</p>

                    <h5>Property</h5>
                    <p>Kimi's Property</p>

                    <h5>Style</h5>
                    <p>Julien Pianetti</p>

                    <h5>Date</h5>
                    <p>September 17 2017</p>
                </div>
            </div>




            <div class="col-md-10 col-md-offset-1 first-letter">
                <p>
                    Lúa được trồng ở miền nam nước Ý từ thế kỷ 14, và cuối cùng đến Milano ở vùng phía bắc nước Ý. Trong khi theo truyền thuyết, một người học việc thổi thủy tinh trẻ tuổi từ Flanders, người đã từng sử dụng nghệ tây như một loại bột màu đã thêm nó vào món cơm trong tiệc cưới, công thức đầu tiên được xác định là risotto có từ năm 1809. Nó bao gồm gạo xào bơ, xúc xích, xương tủy, hành tây với nước dùng nóng với nghệ tây thêm dần dần. Có một công thức cho một món ăn có tên là risotto trong Trattato di cucina (Luận về nấu ăn) năm 1854 của Giovanni Vialardi, trợ lý bếp trưởng cho các vị vua. Tuy nhiên, câu hỏi ai đã phát minh ra món risotto ở Milano vẫn chưa được giải đáp cho đến ngày nay.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <img src="../LayoutKimi/images/portrait.jpg" width="100%">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <p>
                            Các giống lúa hiện nay gắn liền với risotto đã được phát triển vào thế kỷ 20, bắt đầu với Maratelli vào năm 1914.
                            Loại gạo trắng hạt ngắn hoặc trung bình có hàm lượng tinh bột cao (amylopectin), ít amyloza thường được sử dụng để làm món cơm risotto. Các loại gạo này có khả năng hấp thụ chất lỏng và giải phóng tinh bột nên chúng dẻo hơn các loại hạt dài. Các giống chính được sử dụng ở Ý là Arborio, Baldo, Carnaroli, Maratelli, Padano, Roma và Vialone Nano. Carnaroli, Maratelli (giống Ý lịch sử) và Vialone Nano được coi là những giống tốt nhất (và đắt nhất), với những người dùng khác nhau thích loại này hơn loại khác. Họ có tính chất hơi khác nhau. Ví dụ, Carnaroli ít có khả năng bị chín quá hơn Vialone Nano, nhưng loại sau, nhỏ hơn, nấu nhanh hơn và hấp thụ gia vị tốt hơn. Các loại khác như Roma, Baldo, Ribe và Originario có thể được sử dụng nhưng sẽ không có vị kem của món ăn truyền thống; những giống này được coi là tốt hơn cho súp và các món cơm không phải cơm risotto khác, và các món tráng miệng từ gạo ngọt. Các ký hiệu gạo superfino, semifino và fino đề cập đến kích thước và hình dạng (cụ thể là chiều dài và độ hẹp) của hạt chứ không phải chất lượng.
                        </p>
                    </div>
                </div>

                <p>
                    Có nhiều công thức nấu cơm risotto khác nhau với các nguyên liệu khác nhau, nhưng tất cả chúng đều dựa trên loại gạo thích hợp, được nấu theo quy trình tiêu chuẩn,[8] đòi hỏi không giống như các món cơm khác, sự chăm sóc và chú ý liên tục.[9] Gạo không được vo trước, vì vo sẽ loại bỏ nhiều tinh bột cần thiết để có kết cấu dạng kem.

                    Đầu tiên, gạo được nấu sơ qua trong soffritto hành tây và bơ hoặc dầu ô liu, để phủ lên từng hạt một lớp màng mỡ, gọi là tostatura; rượu trắng được thêm vào và phải được hấp thụ bởi các loại ngũ cốc. Khi nó đã được hấp thụ, nhiệt được tăng lên mức trung bình cao và nước sôi được thêm dần dần với một lượng nhỏ, đồng thời khuấy liên tục. Việc khuấy liên tục, chỉ với một lượng nhỏ chất lỏng, buộc các hạt cọ xát vào nhau và giải phóng các phân tử tinh bột từ bên ngoài hạt vào chất lỏng xung quanh, tạo ra một khối kết cấu mịn như kem.[11][12 ] Khi cơm chín, người ta tắt bếp cho mantecatura vào nồi, đánh mạnh trong những viên pho mát parmesan bào và bơ đã được làm lạnh trong tủ lạnh, để tạo ra kết cấu kem và mịn nhất có thể. Nó có thể được lấy ra khỏi nhiệt sớm hơn vài phút và để nấu bằng nhiệt dư của nó.
                </p>

                <div class="clearfix maya-small-padding"></div>
                <section>
                    <div class="metainfo-wrapper-mobile visible-xs">
                        <p>Make: Canon</p>
                        <p>Location: Kimi Studio</p>
                        <p>Photographer: Julien Pianetti</p>
                        <p>Property: Kimi's Property</p>
                        <p>Style: Julien Pianetti</p>
                        <p>Date: September 17 2017</p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="related-articles">
        <div class="maya-well-padding"></div>
        <h4 class="text-center">Related Articles</h4>
        <div class="maya-tiny-padding"></div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <a href="#" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="../LayoutKimi/images/article1.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Thời Đại Mới</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">April 19, 2023</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="../LayoutKimi/images/face2.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <a href="#" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="../LayoutKimi/images/article2.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Khi Đàn Ông Vào Bếp</p>
                            <span class="last-text">April 17, 2023</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="../LayoutKimi/images/face3.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</article>