
@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_LayoutKimi.cshtml";
}
<div class="container-fluid kimi-container less-padding">
    <img src="../LayoutKimi/images/birds-eye-1500w.jpg" width="100%">
</div>
<div class="container">

    <div class="">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li class="active">FAQs</li>
        </ol>

        <div class="row">
            <div>
                <h2 class="text-bold text-center">Kimi hoạt động như thế nào</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Chúng tôi có thể giao hàng ở đâu?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Cho đến khi bắt đầu, kimi hanya dapat melayani đón và đưa ra khỏi khu vực Jakarta saja.
                                Kimi có kế hoạch mở rộng và sẵn sàng cho khu vực mà chúng tôi sẽ chọn sau Jakarta
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">

                        <li>
                            <h5 class="about-first-text">
                                Chúng tôi có phục vụ những đơn hàng có số lượng rất lớn (hơn 150 hộp) không?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Kimi điều chỉnh theo năng lực của các Đầu bếp.
                                Đầu bếp có thể điều chỉnh lại ngày giờ đặt hàng cho phù hợp với năng lực như chuẩn bị nguyên vật liệu, dụng cụ, nhân công cần thiết để thực hiện theo đơn đặt hàng.
                                Nếu bạn muốn đặt hàng với số lượng rất lớn, hãy đảm bảo rằng bạn đặt hàng trước 5 ngày
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <h2 class="text-bold text-center">Giá</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Giá niêm yết trên mỗi sản phẩm đã bao gồm phí vận chuyển chưa?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">Chưa. Hệ thống của chúng tôi sẽ điều chỉnh chi phí vận chuyển từ khoảng cách từ bếp Chef's đã chọn đến địa điểm đích mà bạn chọn, chi phí này sẽ được cộng vào tổng giá của sản phẩm bạn đã đặt.</p>
                            <div class="maya-small-padding"></div>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">

                        <li>
                            <h5 class="about-first-text">Phí giao hàng cho mỗi đơn hàng tại Kimi là bao nhiêu?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Hệ thống của chúng tôi sẽ điều chỉnh chi phí vận chuyển từ khoảng cách từ bếp Chef's đã chọn đến địa điểm đích mà bạn chọn.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                        <li>
                            <h5 class="about-first-text">
                                Chi phí vận chuyển nếu tôi đặt hàng từ 2 đầu bếp khác nhau là bao nhiêu?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Hệ thống của chúng tôi vẫn sẽ tính 2 giao dịch khác nhau với 2 chi phí vận chuyển khác nhau.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>


            <div>
                <h2 class="text-bold text-center">Order</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Đơn hàng tối thiểu là gì?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">Số lượng nhỏ nhất được xác định bởi mỗi Đầu bếp mà Người mua có thể đặt hàng và mỗi sản phẩm có một đơn hàng tối thiểu khác nhau.</p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">Tôi có thể đặt giao hàng trong ngày không?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                KHÔNG. Các đơn đặt hàng hôm nay (giới hạn tối đa cho đến khi giai đoạn thanh toán là 14:00), sẽ được nhận vào ngày hôm sau, tức là 09:30 sáng và 18:30 tối.
                                Nếu quá 14:00 thì đơn hàng sẽ được giao trong 2 ngày tới.
                                Nếu Đầu bếp cảm thấy thời gian bạn đặt hàng không đủ để chuẩn bị nguyên vật liệu, dụng cụ và nhân công, thì Đầu bếp có thể thay đổi Thời gian yêu cầu giao hàng cho đơn hàng của bạn và bạn sẽ được thông báo về sự thay đổi đó.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">Thời gian giao hàng tại Kimi là gì?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Bạn có thể chọn Thời gian gửi yêu cầu, cụ thể là 09:30, 11:30, 13:30, 15:30, 18:30 
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">
                                Có thể giao hàng ngoài giờ làm việc không?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">KHÔNG. Do khả năng có hạn, chúng tôi lên lịch giao hàng vào lúc 09:30, 11:30, 13:30, 15:30, 18:30 (WIB)</p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">
                                
                                Thời gian nhận hàng và thời gian giao hàng là gì?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Thời gian nhận hàng là thời gian/giờ khi Người phục vụ (giao hàng) đến vị trí bếp của Bếp trưởng.
                                Thời gian giao hàng là thời gian/giờ khi đơn hàng đến địa điểm của Người mua đã đặt hàng.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                        

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">
                                Tôi có thể gọi món cho nhiều hơn 1 Đầu bếp khác nhau cùng lúc không?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Đúng. Hệ thống của chúng tôi vẫn sẽ tính toán 2 hoặc nhiều giao dịch khác nhau, với 2 hoặc nhiều chi phí vận chuyển khác nhau.
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">Tôi có thể thay đổi hoặc hủy đơn hàng mà tôi đã đặt không?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Có, nếu trạng thái đơn hàng của bạn vẫn là Yêu cầu mở.
                                Không, nếu bạn đã thực hiện thanh toán.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">Nếu đơn hàng đến không phải là đơn hàng tôi đã đặt thì sao?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Hãy liên lạc với chúng tôi ở đây ngay khi bạn có thể.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">Nếu tôi bị dị ứng hoặc không thích một số loại thức ăn/đồ uống thì sao?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Bạn có thể thông báo cho họ trong Hướng dẫn đặc biệt và Đầu bếp sẽ đặc biệt chú ý khi họ chuẩn bị món cho bạn.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">
                                Tôi có thể tự nhận đơn đặt hàng của mình không?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                KHÔNG. Kimi đã cam kết và quản lý hệ thống của chúng tôi để giao mọi đơn đặt hàng đến với chúng tôi.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>

                        <li>
                            <h5 class="about-first-text">
                                Nếu đơn đặt hàng của tôi không đến thì sao?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Hãy liên lạc với chúng tôi ở đây ngay khi bạn có thể.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

            <div>
                <h2 class="text-bold text-center">Thanh toán</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">
                                Chúng tôi có chấp nhận thanh toán bằng tiền mặt hay COD (Cash On Delivery) không?
                            </h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                KHÔNG. Hiện tại, chúng tôi chỉ chấp nhận thanh toán qua (BCA) Chuyển khoản ngân hàng.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Chúng tôi có chấp nhận thanh toán qua thẻ tín dụng không?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                KHÔNG. Hiện tại, chúng tôi chỉ chấp nhận thanh toán qua (BCA) Chuyển khoản ngân hàng.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>


            <div>
                <h2 class="text-bold text-center">Quản lý tài khoản</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Làm cách nào để tạo tài khoản Người mua tại Kimi?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Bạn có thể tạo một tài khoản bằng cách truy cập backtokimi.com và sử dụng email của mình để đăng ký. Anda akan memasukkan nomor handphone serta password, setelah itu Anda dapat langsung menambahkan order serta menjadwalkan pengantaran yang Anda inginkan.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Người mua có thể tham gia để trở thành Chef Kimi nữa không?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Đúng. Bạn có thể liên hệ trực tiếp với chúng tôi qua <a href="mailto:alyssa.prabandari@backtokimi.com" class="text-secondary">alyssa.prabandari@backtokimi.com
                                </a>
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

            <div>
                <h2 class="text-bold text-center">Đề xuất &amp; Nhận xét</h2>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Nếu tôi có những lời chỉ trích và đề xuất thì sao?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Ý kiên của bạn rât hưu ich cho chung ta.
                                Nếu bạn có những lời chỉ trích và đề xuất xin vui lòng liên hệ với chúng tôi ở đây.
                                Chúng tôi sẽ ngay lập tức xem xét một cách chính xác và nhanh chóng.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <h5 class="about-first-text">Tôi có thể giới thiệu Đầu bếp hoặc Cửa hàng cho Kimi không?</h5>
                            <p class="helvetica-16 text-gray-3 text-thin">
                                Đúng. Chúng tôi luôn sẵn lòng thêm Đầu bếp và cung cấp các mục yêu thích của bạn trên Kimi. Vui lòng liên hệ với chúng tôi tại đây với đề xuất Đầu bếp của bạn và chúng tôi sẽ cố gắng hết sức có thể để biến điều đó thành hiện thực.
                            </p>
                            <div class="maya-small-padding"></div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>



    </div>

</div>

