
<div class="clearfix"></div>
<footer class="container-fluid">
    <div class="col-md-6 menu-footer">
        <h4>CHÚC QUÝ KHÁCH LUÔN NGON MIỆNG !</h4>
        <h4>ありがとございます !</h4>
        <a href="about.html" class="text-roboto-light text-white">About Kimi</a>
        <a href="contact.html" class="text-roboto-light text-white">Contact Us</a>
        <a href="chefDirectory.html" class="text-roboto-light text-white">Chef Directory</a>
        <a href="jobs.html" class="text-roboto-light text-white">Jobs</a>
    </div>

    <div class="col-md-3 social-icons-wrapper">
        <h4>Social</h4>
        <a href="https://www.instagram.com/daokhanhgg" class="text-white" style="font-size: 32px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/ducnguyen.040102/" class="text-white" style="font-size: 32px;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://twitter.com/41_Wheelie" class="text-white" style="font-size: 32px;"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#" class="text-white" style="font-size: 32px;"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3">
        <h4 class="text-white">Đức Nguyễn</h4>
        <a href="mailto:info@backtokimi.com" class="text-white text-thin">info@backtokimi.com</a><br>
        <a href="tel:032108926" class="text-white text-thin">+64 382108926</a>
    </div>
</footer>
